/* <-------------Tags--------------> */

body {
  margin: 0;
}

main {
  color: white;
  text-align: center;
  font-weight: 100;
  height: 538px;
  font-family: 'Montserrat', sans-serif;
  background: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  width: 70%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: rgb(161, 161, 160);
  background: linear-gradient(0deg, rgba(161, 161, 160, 1) 0%, rgba(111, 111, 109, 1) 39%, rgba(111, 111, 109, 1) 63%, rgba(161, 161, 160, 1) 100%);
  border-radius: 6px;
}

header {
  position: absolute;
  margin-top: 90px;
  width: 100%;
}

p {
  margin: 0;
}

nav a,
nav input {
  margin: 0 25px 0 0;
  text-decoration: none;
  color: white;
  border-right: darkgray solid 1px;
  padding-right: 24px;
  font-size: small;
  height: 100%;
}

nav input {
  width: auto;
  border-radius: 12px;
  background: none;
}

footer {
  padding-top: 10px;
  width: 75%;
  margin: 0 auto;
}

footer a {
  color: #08c;
  text-decoration: none;
}

/* <------------Utilities----------> */

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.column {
  flex-direction: column;
}

.m-center {
  margin: 0 auto;
}

/* <------------Main Container--------> */

.big-title {
  font-size: 60px;
  padding-top: 180px;
  width: 980px;
  padding-left: 180px;
}

.medium-title {
  font-size: 30px;
  width: 980px;
  padding-left: 180px;
  margin-top: 10px;
}

.small-title {
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  margin-top: 35px;
}

.policy-link {
  border-left: #ccc solid 1px;
  margin-left: 5px;
  padding-left: 5px;
}

/* <-----------Grid---------------> */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  column-gap: 2px;
  margin-top: 2px;
}

.grid-img {
  width: 100%;
}

/* <-----------Footer------------> */

.footer-elem {
  font-size: 10px;
  color: #6e6e6e;
}

.links a {
  padding: 0 7px;
  border-right: #ccc solid 1px;
  width: 80px;
  text-align: center;
}

.lang-icon {
  margin-left: 10px;
  width: 15px;
  height: 15px;
}

.lastline {
  justify-content: flex-start;
  margin-top: 20px;
}
